# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.env
venv/
.envrc

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Local environments
.venv/

# VSCode / IDEs
.vscode/
.idea/

# Data and generated artifacts
data/
artifacts/
reports/
trained_models/
*.joblib
*.pkl
*.png
*.html
*.json

# MacOS
.DS_Store
