# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.env
venv/
.envrc

# Local environments
.venv/

# VSCode / IDEs
.vscode/
.idea/

# Data and generated artifacts
data/
artifacts/
reports/
trained_models/
*.joblib
*.pkl
*.png
*.html
*.json
!screencapture-of the streamlit app.png

# MacOS
.DS_Store
